# /
*.bat
*.sh
*.cmd
*.pyc
*.sln
*.sublime-project
*.sublime-workspace
*.suo
*.swp
.bundle/
.idea/
.loadpath
.project
.redcar/
.rspec-local
.rubocop-*
.ruby-version
.sass-cache/
.tags
/data/
/productization
/plugins
/vmdb/
BUILD
ca/root
certs/v2_key
config/secrets.yml*
coverage/
Gemfile.lock*
GUID
openstack_environments.yml
nbproject/
private_test
REGION
SyntaxCheck
xfer_*.xml
Thumbs.db
Procfile

# bin/
bin/*

# config/
config/apache
config/cockpit
config/database.yml*
config/cable.yml
config/vmdb.yml.db

config/initializers/*.local.rb

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

# db/
db/*.sqlite3
db/schema.rb
db/fixtures/ae_datastore/ManageIQ/.manifest.yaml

# log/
log/*.gz
log/*.log
log/*.txt
log/call_graph_*.html

# product/
product/automate

# public/
/public/assets/
/public/doc/
public/upload
public/pictures/
public/ui/
/public/packs
/public/webmks

# tmp/
tmp/*

# vendor/
vendor/bundle
vendor/node_root/

# npm
node_modules/

# ignore included plugins in bundler.d
bundler.d/*

# yardoc
/doc/
.yardoc

*.rbc
capybara-*.html
.rspec
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/spec/tmp
*.orig
rerun.txt
pickle-email-*.html

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
config/initializers/secret_token.rb
config/master.key

# Only include if you have production secrets in this file, which is no longer a Rails default
# config/secrets.yml

# dotenv
# TODO Comment out this rule if environment variables can be committed
.env

## Environment normalization:
/.bundle
/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/vendor/assets/bower_components
*.bowerrc
bower.json

# Ignore pow environment settings
.powenv

# Ignore Byebug command history file.
.byebug_history

# Ignore node_modules
node_modules/

# Ignore precompiled javascript packs
/public/packs
/public/packs-test
/public/assets

# Ignore yarn files
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Ignore uploaded files in development
/storage/*
!/storage/.keep
